<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>db2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css" />
</head>
<body>
    {% include 'nav.html' %}
    <div id="sabrina">
        <h2>login:<h2>
            <form method="POST" action="/login">
                <label>nome</label>
                <input text="text" name="nome"><br>

                <label>email</label>
                <input text="text" name="email"><br>

                <input type="submit">
            </form>            
        </form>
    </div>
</body>
</html>
