<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>db2</title>
    <style>
        body {
            text-align: center;
            background-color: #181818;
            color: white;
        }

        #sabrina {
            background-color: #131313;
        }

        .btn {
            box-shadow: 0 8px 16px 0 rgba(255,0,0,1), 0 6px 20px 0 rgba(0,255,0,1.19);
        }
    </style>
</head>
<body>
    <div id="sabrina">
        <h2>login:<h2>
            <form method="POST" action="/login">
                <label>nome</label>
                <input text="text" name="nome"><br>

                <label>email</label>
                <input text="text" name="email"><br>

                <input type="submit">
            </form>            
        </form>
    </div>
</body>
</html>